.team-section{
    padding-bottom: 20px;
}
.team-title__wrap{
    padding: 82px 0 80px 0;
    max-width: 864px;
}
.txt-team__wrap{
    position: relative;
}
.card-team{
    width: calc(100%/12*4);
    padding-right: 40px;
}
.card-team-content{
    flex-direction: column;
}
.txt-team__wrap{
    padding-top: 20px;
}
.txt-team-small__wrap{
    padding-bottom: 40px;
}

.circle{
    align-self: flex-end;
    display: block;
    width: 32px;
    border-radius: 50%;
    height: 32px;
    background-color: $white;
    position: relative;
    cursor: pointer;
}
.circle::after{
    top: 12px;
    left: 10px;
    position: absolute;
    display: block;
    content: '';
    border: solid #24A3FF;
    border-width: 0 2px 2px 0;
    padding: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media (max-width:376px){
    .container-default-team{
        flex-direction: column;
    }
    div.card{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        padding-bottom: 20px;
        padding-right: 0;
    }
    .card-team-content{
        max-width: 157px;
        align-self: center;
        padding-left: 20px;
        flex-wrap: wrap;
    }
    .container-default-team{
        flex-direction: row;
    }
    .team-img{
        width: 50%;
    }
    .circle{
        order: 5;
        align-self: flex-start;
        padding-top: 19px;
    }
    .txt-team-small__wrap{
        padding-bottom: 0;
    }
    .mobile-txt-team{
        max-height: 22px;
    }
    .team-title__wrap{
        padding-bottom: 20px;
    }
    .footer-txt-first__wrap{
        padding-right: 0;
    }
}