$white: #f5f5fa;
$blue: #24A3FF;
$blue-red: #323264;
$blue-red-2: #46466E;
$blue-red-3: #686887;
$grey: #B3B3BA;
$red: #F0145A;
$black: #000000;
$card-max-width: 1320px;
$card-point: 1320/100;
$common-padding: 0 15px;